.header {
    max-width: var(--layout-width);
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.section {
    max-width: var(--layout-width);
    margin: 0 382px;
}

.section__wrapper {
    max-width: var(--layout-width);
    display: grid;
    grid-template-columns: repeat(3, 369px);
    grid-auto-rows: 507px;
    gap: 24px;
}

.section-light-first {
    background-color: var(--color-bg);
    box-shadow: 0px 0px 32px 0px #4E5D7C29;
    border-radius: var(--border-radius-7);
    display: grid;
    grid-template-rows: 200px 126px 48px;
    gap: 40px;
    align-items: center;
}

.section-light-second {
    background-color: var(--color-bg);
    box-shadow: 0px 0px 32px 0px #4E5D7C29;
    border-radius: var(--border-radius-7);
    display: grid;
    grid-template-rows: 200px 126px 48px;
    gap: 40px;
    align-items: center;
}

.light-rates-first {
    display: grid;
    justify-content: center;
    grid-template-columns: 289px;
    grid-template-rows: 38px 48px;
    margin-top: 93px;
    height: 102px;
    gap: 16px;
    margin-bottom: 10px;
}

.light-cost {
    display: grid;
    grid-template-columns: 289px;
    grid-template-rows: repeat(3, 52px);
    color: var(--color-text);
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    justify-content: center;
    align-items: center;
}

.light-cost__top {
    display: grid;
    grid-template-columns: 160px 65px;
    height: 48px;
    gap: 28px;
    border-bottom: 1px solid var(--color-border);
    align-items: center;
}

.light-cost__middle {
    display: grid;
    grid-template-columns: 117px 101px;
    height: 52px;
    gap: 72px;
    border-bottom: 1px solid var(--color-border);
    align-items: center;
}

.light-cost__buttom {
    display: grid;
    grid-template-columns: 169px 101px;
    height: 20px;
    gap: 20px;
}

.light-rates-second {
    display: grid;
    justify-content: center;
    grid-template-columns: 289px;
    grid-template-rows: 29px 38px 48px;
    margin-top: 48px;
    height: 147px;
    gap: 16px;
    margin-bottom: 10px;
}

.section-dark {
    background-color: var(--color-button);
    box-shadow: 0px 0px 32px 0px #4E5D7C52;
    border-radius: var(--border-radius-7);
    display: grid;
    grid-template-rows: 219px 126px 48px;
    gap: 31px;
    align-items: center;
}

.dark-rates {
    display: grid;
    grid-template-rows: 29px 38px 72px;
    gap: 16px;
    justify-content: center;
    grid-template-columns: 289px;
    margin-top: 48px;
}

.dark-cost {
    display: grid;
    grid-template-columns: 289px;
    grid-template-rows: repeat(3, 52px);
    color: var(--color-bg);
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    justify-content: center;
    align-items: center;
}

.dark-cost__top {
    display: grid;
    grid-template-columns: 160px 70px;
    gap: 40px;
    height: 48px;
    border-bottom: 1px solid var(--color-bg-dark);
    align-items: center;
}

.dark-cost__middle {
    display: grid;
    grid-template-columns: 117px 107px;
    gap: 67px;
    height: 52px;
    border-bottom: 1px solid var(--color-bg-dark);
    align-items: center;
}

.dark-cost__buttom {
    display: grid;
    grid-template-columns: 168px 88px;
    gap: 32px;
    height: 20px;
}

@media (max-width: 375px) {
    .header {
        max-width: 328px;
        justify-content: center;
    }

    .header__wrapper {
        text-align: start;
        max-width: 328px;
        height: 139px;
        grid-template-columns: 328px;
        grid-template-rows: 43px 72px;
        display: grid;
        gap: 24px;
        align-items: stretch;
        margin-bottom: 32px;
    }

    .header__h1 {
        line-height: 43px;
        font-size: 36px;
        line-height: 43px;
        margin: 0;
        text-align: start;
    }

    .header__text {
        width: 328px;
        height: 72px;
        font-size: 17px;
        text-align: start;
        align-items: center;
    }

    .section__wrapper {
        justify-content: center;
        grid-template-columns: 328px;
        grid-template-rows: 436px 505px 505px;
        gap: 24px;
    }

    .section-light-first {
        padding: 48px 24px;
        grid-template-rows: 102px 126px 48px;
        gap: 32px;
    }

    .light-rates-first {
        margin: 0;
    }

    .section-light-second {
        padding: 48px 24px;
        grid-template-rows: 171px 126px 48px;
        gap: 32px;
    }

    .light-rates-second {
        margin: 0;
    }

    .light-cost__top {
        gap: 23px;
    }

    .dark-cost__top {
        gap: 30px;
    }

    .light-cost__middle {
        gap: 58px;
    }

    .dark-cost__middle {
        gap: 57px;
    }

    .light-cost__buttom {
        gap: 15px;
    }

    .dark-cost__buttom {
        gap: 23px;
    }
}