body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 100%;
}

nav {
    padding: 33px 50px;
    margin: 0 auto;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 34px;
}

h1 {
    margin: 0 0 17px 0;
}

h2 {
    margin: 60px 0 19px 0;
}

h3 {
    margin-bottom: 0;
}

h4 {
    margin-bottom: 34px;
    margin-top: 0;
    color: #050038;
}

h1,
h2,
h3,
h4 {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #050038;
}

header a {
    color: #050038;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

footer p {
    font-size: 16px;
}

header {
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 65px;
    max-width: 1200px;
}

footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    background: #050038;
    padding: 47px 40px;
}

footer>div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 0 40px;
}

footer a {
    color: white;
    text-decoration: none;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 140px;
}

.buttons {
    display: flex;
    gap: 8px;
}

.heroForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.heroForm input {
    height: 48px;
    line-height: 27px;
    border-radius: 32px;
    font-size: 18px;
    border: 1px solid #9B99AF
}


.heroForm input:focus {
    background-color: aliceblue;
}

.heroText {
    color: #050038;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.section {
    display: flex;
    flex-wrap: nowrap;
    gap: 123px;
}

.section-reverse {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 115px;
}

.sectionText1 {
    color: rgba(5, 0, 56, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    height: 120px;
    margin-bottom: 40px;
}

.heroForm+p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #050038;
    height: 20px;
    margin: 0 0 52px 0;
}

.heroLogos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
    align-items: center;
}

.sectionList {
    list-style: none;
    list-style-image: url(../images/Frame.svg);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
    margin-bottom: 32px;
    padding-left: 18px;
}

.sectionList li {
    margin-left: 25px;
}

.lastSection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px 59px;
    margin-bottom: 43px;
}

.lastSection p {
    margin-bottom: 13px;
    margin-top: 0;
    margin-left: 16px;
}

.heroText {
    height: 48px;
    margin: 0 0 50px 0;
}

.sectionText2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    height: 120px;
    margin-top: 19px;
    color: rgba(5, 0, 56, 0.6);
    margin-bottom: 40px;
}

.link1 {
    color: #4262FF;
    text-decoration: underline;
    height: 24px;
    font-size: 18px;
}

.link2 {
    color: #4262FF;
    text-decoration: underline;
    height: 24px;
    margin-top: 39px;
    font-size: 18px;
}

.link3 {
    margin-bottom: 70px;
    margin-left: 19px;
}

.link3 a {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #4262FF;
}

.icons {
    display: flex;
    gap: 32px;
    margin-left: 16px;
}

#designUX {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 48px;
    background-color: #F1F3FD;
    color: #050038;
    padding: 14px 18px;
    align-items: center;
    border-radius: 24px;
    background: linear-gradient(0deg, #F1F3FD, #F1F3FD),
        linear-gradient(0deg, #F2F2F2, #F2F2F2);
    border: 1px solid #F2F2F2
}

#marketing {
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    height: 48px;
    background-color: #F2F2F2;
    color: #050038;
    padding: 14px 18px;
    align-self: center;
    border-radius: 24px;
    border: 1px solid #F2F2F2;
    background-color: white;
}

#control {
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    height: 48px;
    background-color: #F2F2F2;
    color: #050038;
    padding: 14px 18px;
    align-self: center;
    border-radius: 24px;
    border: 1px solid #F2F2F2;
    background-color: white;
}

#development {
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    height: 48px;
    background-color: #F2F2F2;
    color: #050038;
    padding: 14px 18px;
    align-self: center;
    border-radius: 24px;
    border: 1px solid #F2F2F2;
    background-color: white;
}

#consulting {
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    height: 48px;
    background-color: #F2F2F2;
    color: #050038;
    padding: 14px 18px;
    align-self: center;
    border-radius: 24px;
    border: 1px solid #F2F2F2;
    background-color: white;
}

#couching {
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    height: 48px;
    background-color: #F2F2F2;
    color: #050038;
    padding: 14px 18px;
    align-self: center;
    border-radius: 24px;
    border: 1px solid #F2F2F2;
    background-color: white;
}

#sales {
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    height: 48px;
    color: #050038;
    padding: 14px 18px;
    align-self: center;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #F2F2F2;
}

#heroButton {
    background-color: #4262FF;
    color: #FFFFFF;
    padding: 10px 20px;
    height: 51px;
    line-height: 27px;
    border-radius: 32px;
    font-size: 18px;
    margin-bottom: 8px;
    border: 1px solid #4262FF
}

#miro {
    background: #050038;
    height: 24px;
}

#hero {
    display: flex;
    flex-wrap: nowrap;
    gap: 65px;
}