body {
    background: #F39494;
}

main {
    background-color: #FFFEFE;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    color: #333333;
    line-height: 49.03px;
}

h2 {
    font-weight: 400;
    font-size: 18px;
    color: #666666;
    line-height: 24.51px;
}

button {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFF;
    background-color: #089FE0;
}

#firstlink {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

#text {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}

#name {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    color: #999999;
    background: #F5F5F5;
}

#surname {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    color: #999999;
    background: #F5F5F5;
}

#email {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    color: #999999;
    background: #F5F5F5;
}

#checkbox {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #666666;
}

#secondlink {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #089FE0;
}